body {
  margin: 0;
  padding: 0;
}

.contenedor h1{
  color: white;
  text-align: center;
}

.contenedor {
  background-color: #000000;
  width: 50%;
  margin: 50px auto 0 auto;
}

#header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

table {
  background-color: white;
  width: 100%;
  border-collapse: collapse;
}

tr {
  width: 100%;
  display: flex;
  border-bottom-style: solid; 
}

td {
  padding: 20px;
}

.completado {
  text-decoration:line-through;
}

